.about  {
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;

padding: 60px;
    font-size: 2.2em;
   color: #b26634;
   font-weight: 500;
   box-shadow: 4px 4px 10px gray;
   
}
.about_dis{
    margin: 30px;padding: 10px;

    background-color: #f9f7f53b;
    border-radius: 20px;
   box-shadow: 4px 4px 10px gray;

}
.Discover_Ethiopia{

   display: flex;
   justify-content: center;
   margin-top: 60px ;

}

.Discover_Ethiopia .About_Discover_Ethiopia{
    width: 50%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 10px 0px #b26634;
padding: 15px;
   
}
.Discover_Ethiopia .img img{
width: 70%;
    border-radius: 20px;
}
.Discover_Ethiopia .About_Discover_Ethiopia h2{
    margin: 10px;
    color: #b26634;
font-weight: 500;
    font-size: 2em;
}

.Discover_Ethiopia .About_Discover_Ethiopia p{

    margin: 10px ;
    margin-top: 25px;
    color: rgb(128, 128, 128);

    font-size: 1em;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
align-items: center;
    gap: 30px;
    margin-top: 60px;
}

.card div{
    box-shadow: 0px 5px #b26634;
    border-radius: 20px;
    background-color: white;
    width: 25%;
    padding: 0 50px 12px 12px;
}

.card div h3{
    color: #b26634;
    font-size: 1.6em;
    justify-content: start;
}

.card div p{font-size: 1.1em;
    color: rgb(128, 128, 128);


}
.choose_eth h1{
    color: #b26634;
font-size: 1.8em;
margin-bottom: 8px;
}
.choose_eth p{
    font-size: 1.1em;
    color: rgb(128, 128, 128);
}
.choose_eth{
    margin: 60px 50px;
    border-radius: 20px;
    box-shadow: 5px 0px #b26634;
padding: 30px;
    background-color: white;


}