body{
    background-color: #ede9e3;
}

section .img {
 display:  flex;
 justify-content: center;
    margin-top: 25px;
}
 section .img {
    position: relative;
    
}

 section .img h2{
    backdrop-filter: blur(12px)brightness(1.1);

    position: absolute;
    background-color: rebeccapurple;
    top: 300px;
    font-size: 1.5em;
    color: white;
    background-color: #c9813da6;
    width: 82%;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
}
section .img img{
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.836);


    width: 96%;
    height: 400px;
    object-fit: cover;
 
}

section .abay{
    display: flex;
    margin-top: 60px;
    justify-content: center;
    gap: 50px;
    
}

section .abay img{
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.836);

}
section .abay .welcome{
    width: 40%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.836);
    padding :0 60px 60px 60px;
}

section .abay .welcome  h3{
    font-size: 2em;
    font-weight: 200;
    justify-content: start;
    margin-bottom: 5px;
}
section .abay .welcome  p{
    font-size: 1em;

}



.img_list{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 50px;
}

.img_list img{
    width: 100%;
    height: 150px;
    box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.836);
border-radius: 5px;
object-fit: cover;
}