 
 
 
 .welcome_page_container .welcome_page{


    position: relative;
 }
 /* .welcome_page_container .welcome_page .h2{
    position: absolute;
    top:90%;
    left:50%;
   
    transform: translate(-50%,-50%);

 } */
 /* .welcome_page_container .welcome_page img{
width: 100%;
height: 600px;
object-fit: cover;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
} */
