*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}


.navbar{
    background: linear-gradient(to right, #8d4616 ,#ca813d);
    box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.836);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.navbar .logo{
    display: flex;
    align-items: center;

    gap: 1em;
    margin-left: 10px;

}
.navbar .logo h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 1.4em;
   color: white;
   font-weight: bold;

}
.navbar .navlink{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-right: 10px;
}
.navbar .navlink .link{
  font-size: 1.1em;
  background-color: rgba(0, 0, 0, 0.082);
  padding: 0.8em;
  border-radius: 1em;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
